/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(79, 72%, 55%);
  --first-color-light: hsl(79, 97%, 77%);
  --first-color-alt: hsl(79, 67%, 52%);
  --first-color-dark: hsl(79, 63%, 50%);
  --first-color-gray: hsl(79, 6%, 64%);
  --title-color: hsl(180, 4%, 98%);
  --title-color-black: hsl(180, 4%, 12%);
  --text-color: hsl(180, 4%, 72%);
  --text-color-light: hsl(180, 4%, 65%);
  --body-color: hsl(180, 12%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Red Hat Display', sans-serif;
  --second-font: 'Kaushan Script', cursive;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1124px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__data {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
  text-align: center;
  margin-bottom: 3rem;
}

.section__title,
.section__title-border {
  font-size: var(--big-font-size);
  letter-spacing: 1.5px;
}

.section__subtitle {
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--first-color);
  transform: rotate(-2deg);
}

.section__titles {
  display: flex;
  column-gap: .75rem;
  justify-content: center;
}

.section__title-border {
  -webkit-text-stroke: 1px var(--text-color);
  color: transparent;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden;
  /* For animation ScrollReveal */
}

.color-red {
  color: hsl(0, 80%, 64%);
}

.color-green {
  color: var(--first-color);
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background .3s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  display: flex;
}

.nav__logo {
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-bold);
}

.nav__logo img {
  width: 1.25rem;
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}


@media screen and (max-width:1023px) {
  .nav__menu {
    position: fixed;
    background-color: hsla(180, 12%, 8%, .8);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    border-left: 2px solid var(--first-color-gray);
    transition: right .3s;
  }

  .nav__list {
    padding: 5rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }

  .nav__link {
    color: var(--title-color);
    transition: color .3s;
  }

  .nav__link:hover {
    color: var(--first-color);
  }

  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
  }
}

.nav .nav__button {
  background-color: var(--title-color);
  border: none;
}

/* Show menu */
.show-menu {
  right: 0;
}


/* Change background header */
.bg-header {
  background-color: var(--body-color);
  box-shadow: 0 4px 8px hsla(180, 12%, 4%, .3);
}


/* Active link */


/*=============== HOME ===============*/
.home {
  position: relative;
  padding-bottom: 0;
}

.home__container {
  padding-top: 4rem;
  row-gap: 3rem;
}

.home__data {
  text-align: center;
}

.home__subtitle {
  font-size: var(--bigger-font-size);
  -webkit-text-stroke: 1px var(--title-color);
  color: transparent;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  margin: .5rem 0;
}

.home__subtitle,
.home__title {
  letter-spacing: 1.5px;
}

.home__description {
  margin-bottom: 2.5rem;
}

.home__triangle {
  height: 325px;
  position: absolute;
  right: 0;
  bottom: 0;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.home__triangle-1 {
  width: 105px;
  background-color: var(--first-color);
}

.home__triangle-2 {
  width: 205px;
  background-color: var(--first-color-alt);
}

.home__triangle-3 {
  width: 305px;
  background-color: var(--first-color-dark);
}

.home__img {
  display: block;
  position: relative;
  z-index: 1;
  width: 350px;
  margin: 0 auto;
}

/*=============== BUTTON ===============*/

.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 18px 32px;
  border: 2px solid var(--first-color-light);
  color: var(--title-color-black);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: background .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button i {
  font-size: 1.25rem;
  transition: transform .3s;
}

.button__flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
}

.button__flex:hover i {
  transform: translateX(.25rem);
}

/*=============== LOGOS ===============*/

.logos__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
}

.logos__img {
  width: 120px;
}


/*=============== PROGRAM ===============*/
.program__container {
  grid-template-columns: 225px;
  justify-content: center;
  row-gap: 2rem;
}

.program__card {
  display: grid;
  background-color: hsla(79, 6%, 64%, .07);
  padding: 1.5rem 2rem;
  border: 2px solid transparent;
  transition: background .5s, border .4s;
}

.program__img{
  width: 38px;
}

.program__shape{
  width: 50px;
  height: 50px;
  background-color: var(--first-color-gray);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  transition:  background .5s;
}

.program__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.program__description{
  font-size: var(--small-font-size);
  letter-spacing: .5px;
  line-height: 150%;
}

.program__title,
.program__description{
  transition: color .5s;
}

.program__button{
  justify-self: flex-end;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: var(--title-color-black);
  opacity: 0;
  transition:  opacity .4s;
}

.program__button i{
  display: block;
  transition:  transform .3s;
}

.program__button:hover i{
  transform: translateX(.25rem);
}

.program__card:hover{
  background-color: var(--first-color);
  border:  2px solid var(--first-color-light);
}

.program__card:hover .program__shape{
  background-color: var(--first-color-light);
}

.program__card:hover .program__title,
.program__card:hover .program__description{
  color: var(--title-color-black);
}

.program__card:hover .program__button{
  opacity: 1;
}

/*=============== CHOOSE ===============*/

.choose{
  padding: 0;
}

.choose__overflow{
  position: relative;
}

.choose__container{
  row-gap: 3rem;
}

.choose__content .section__data{
  margin-bottom: 2rem;
}

.choose__description{
  text-align: center;
  margin-bottom: 2.5rem;
}

.choose__data{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 2rem;
}

.choose__group{
  text-align: center;
}

.choose__number{
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.choose__subtitle{
  font-size: var(--small-font-size);
}

.choose__triangle{
  height: 325px;
  position: absolute;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0 , 0 100% , 100% 100%);
}

.choose__triangle-1{
  width: 305px;
  background-color: var(--first-color);
}

.choose__triangle-2{
  width: 205px;
  background-color: var(--first-color-alt);
}

.choose__triangle-3{
  width: 105px;
  background-color: var(--first-color-dark);
}

.choose__img{
  width: 260px;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

/*=============== PRICING ===============*/


/*=============== CALCULATE ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */